# Create '~/docker-data/async-systems' directory before starting the containers
# Don't forget to change the password! (POSTGRES_PASSWORD env variable)

version: '3'
services:
  postgresql:
    image: 'postgres:13-alpine'
    container_name: 'async-systems-db'
    environment:
      POSTGRES_PASSWORD: 'not_secure'
    ports:
      - '5432:5432'
    networks:
      - async-systems-network
    volumes:
      - '~/docker-data/async-systems/postgres:/var/lib/postgresql/data'

networks:
  async-systems-network:
    driver: bridge

volumes:
  postgres:
