// Default font
$default-font: "PT Sans", "Arial", sans-serif;

// Colors
$purple: #6814B3;
$purple--light: #B86AFC;
$yellow: #F8FF85;
$yellow--light: #F8FF85;
$yellow--dark: #F8FF85;
$grey: #d6d6d6;

// Logic Colors
$theme-color: $purple;
$theme-background-color: $purple--light;
$main-text-color: $yellow--dark;
